
@tailwind preflight;


@tailwind components;

@tailwind utilities;
body {
    font-family: 'Kanit', sans-serif;
}
.car_card {
    display: inline-block;
    justify-content: center;
    margin: 25px;
}