
@tailwind preflight;


@tailwind components;

@tailwind utilities;

body {
    font-family: 'Kanit', sans-serif;
    /*background-color: #F8DB4A;*/
    margin: 0px;
    padding: 0px;
}

.car_card {
    background-color: #F8DB4A;
}

.nav_bar {
    height: 75px;
    background-color: #F8DB4A;
    position: relative;
}

.indexlinks{
    text-decoration: none;
    color: gray;
}
.indexlinks:hover{
    background-color: orange;
    color: white;
}