
@tailwind preflight;


@tailwind components;

@tailwind utilities;
. {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Kanit', sans-serif;
    background-color: #F8DB4A;

}
.car_card {
    display: inline-block;
    margin: 25px;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ffffff;

}

.nav_bar {
    height: 75px;
    background-color: #F8DB4A;
    position: relative;
}

.notice_message{

}

.nav_bar_links:link,
nav_bar_links:visited,
nav_bar_links:active{
    float: right;
    color: red;
    
}
